{{ define "main" }}
<main class="main-content-wrapper">
<div class="container-list section">
    <div class="content-card">
        <h1 class="title">{{ .Title }}</h1>
        <div class="intro-content">
            {{ .Content }}
        </div>
        
        <ul class="post-list">
        {{ range .Pages }}
            <li class="post-item">
                <a href="{{ .Permalink }}" class="post-title">
                    {{ .Title }}
                </a>
                <p class="post-meta">
                    <time>{{ .PublishDate.Format "January 2, 2006" }}</time> |
                    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read
                </p>
                <p class="post-summary">{{ .Summary | plainify | truncate 150 }}...</p>
                <a href="{{ .Permalink }}" class="read-more">Read More &rarr;</a>
            </li>
        {{ end }}
        </ul>
    </div>
</div>
</main>
{{ end }}
