<!-- Header Section -->
<header>
<nav class="navbar">
    <div>
        <a href="/" class="klogo">
            <span class="klogo-title">
                <span class="klogo-easy">easy</span><span class="klogo-sipp">SIPp</span>
            </span><br>
            <span class="klogo-tagline">SIP Testing, Simplified.</span>
        </a>
    </div> 

    <div class="menubar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/articles/">Xml List</a>
        <a class="nav-link" href="/categories/">Create Xml</a>
    </div>
</nav>
</header>