<!-- Header Section -->
<header>
<nav class="navbar">
    <div>
        <a href="/" class="klogo">
            <span class="klogo-title">
                <span class="klogo-easy">easy</span><span class="klogo-sipp">SIPp</span>
            </span><br>
            <span class="klogo-tagline">SIP Testing, Simplified.</span>
        </a>
    </div> 

    <div class="menubar">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="#get-started">Get Started</a>
        <a class="nav-link" target="_blank" href="https://kiran-daware.github.io/sipp-xml/">SIPp XML</a>
        <!-- <a class="nav-link" href="/articles/">Articles</a>
        <a class="nav-link" href="/categories/">categories</a> -->
    </div>
</nav>
</header>